html, body{
    /*margin: 0;
    height: 100%;*/
}

body{
    background-color: white;
}

p { 
    color: black; 
    font-family: 'Muli', 
    sans-serif; 
    margin-bottom: 15px; 
    text-align: center;
    }

/*.container{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    position: relative;
}*/


/*The text on the side*/
#sideText{
    padding-top: 73px;
}

#sideText p{
    padding-top: 55px;
    padding-bottom: 55px;
}
/*End text on the side*/



.square > p{
 /*   display: flex;
    justify-content: center;
    flex-direction: column;*/
    /*height: 100px;*/
    line-height: 133px;
    font-size: 100px;
    display: none;
    color: white;

}
/*Creates a square*/
.square{
    height: 133px;
    width: 133px;
    background: #0ACF00;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.square:hover{
    background-color: #43E73A;
}

.square.fail:hover{
    background-color: #FE3F44;
}



.fail{
    background-color: #FD0006;
}


/*Hides the test squares initially*/
.tests{
    display:none;   
}


#square_container{
    margin-top: 25px;
    /*margin: 0 auto;*/
    /*position: absolute;*/
    /*transform: translateY(-50%);*/

}



/*Fixing the spacing between squares*/

/*The columns*/
#square_container > div {
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
}

#square_container > div > div{
    padding-top: 0px;
    padding-bottom: 30px;
}

.tests >div {
    padding-top: 5px;
    padding-bottom: 1px;
}

#square_container > .tests{
    margin-top: 30px;
}


.row{
    padding-bottom: 2px;
    padding-top: 2px;

}
/*End fixing the spacing between squares*/

-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-ms-user-select: none;
